/*Text*/
.gradient-text {
	 background: -webkit-linear-gradient( #7F7FD5,  #86A8E7, #91EAE4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*Navbar*/
.navbar {
	height: 60px;
}

.nav-dark {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e );
}

.nav-item a {
	border-bottom: transparent;
}

.nav-item a:hover {
	border-bottom: solid white 2px;
}

/*Background-Cards*/
.main-background {
	background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc, #fdeff9 );
	height: 1000px;

}

/*Form-Elements*/
.message {
	width: 350px;
	height: 200px;
	
}

.label {
	font-size: 15px;
	color: white;
}

/*Alignment*/
.item-center {
	margin: auto;
}

.image-column {
	padding-left: 10px;
	padding-right: 10px;
}

/*Buttons*/
.btn-oval {
	border-radius: 25px;
}

/*Main Display*/
.message-container {
	margin-top: 200px;
	width: 500px;
	text-align: center;
}

/*Images*/
.display-image {
	height: 60%;
	width: auto;
}